<a href="https://colab.research.google.com/github/irinemb/ASIET/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hyy")

hyy

In [ ]:
#name and age
a=input("Enter your name ")
b=int(input("enter your age "))

Enter your name irine
enter your age 20

In [ ]:
#swapping
a=int(input("enter a number"))
b=int(input("Enter a number"))
a,b=b,a
print(f"a:{a} \nb:{b}")

enter a number2
Enter a number10
a:10
b:2

In [ ]:
num=int(input("enter a number "))
print(f"String value is {str(num)}")

enter a number 29
String value is 29

In [ ]:
#area of the circle
r=float(input("enter the radius"))
print("Area of the circle is :",3.14*r*r)

enter the radius10
Area of the circle is : 314.0

In [ ]:
#convert celsius to farenheit
c = float(input("enter the temperature in celsius :"))
print("farenheit is ",(c*9/5)+32)

enter the temperature in celsius :100
farenheit is  212.0

In [ ]:
#sum of 2 numbers
a=int(input("enter a number "))
b=int(input("enter a number "))
print("the sum is ",a+b)

enter a number 2
enter a number 5
the sum is  7

In [ ]:
#Display variable type
a=int(input("enter a number"))
print(type(a))

enter a number2
<class 'int'>

In [ ]:
#splitting the input values
name,age=input("enter your name and age ").split()#splitting function
print(f"Name is {name} and age is {age}")

enter your name and age naveen 19
Name is naveen and age is 19

In [ ]:
#Compute simple interest
p = float(input("enter the principal amount "))
r = float(input("enter the rate "))
t = float(input("enter the time "))
print("simple interet is :",(p*r*t)/100)

enter the principal amount 15
enter the rate 5
enter the time 3
simple interet is : 2.25

In [ ]:
#Calculate area of a rectangle
l = float(input("enter the length "))
b = float(input("enter the breadth "))
print("area is ",l*b)

enter the length 4
enter the breadth 7
area is  28.0

In [ ]:
#Convert kilometers into miles
km = float(input("enter the distance in km "))
print("Distance in miles is ",km*0.621371)

enter the distance in km 68
Distance in miles is  42.253228

In [ ]:
#Display ASCII value of a character
c = input("enter a character ")
print("ASCII value is ",ord(c))#code for ascii

enter a character a
ASCII value is  97

In [ ]:
#Check whether the number is odd or even
a=int(input("enter a number "))
if a%2 == 0:
  print("the number is even")
else:
  print("the number is odd")

enter a number 8
the number is even

In [ ]:
#Check whether the year is leap year
y = int(input("enter a year "))
if (y%400== 0) or (y%4 == 0 and y%100 !=0):#or just (y%4==0)
  print("the year is a leap year")
else:
  print("the year is not a leap year")

enter a year 2028
the year is a leap year

In [ ]:
#print the multiplication table
n = int(input("enter the number "))
for i in range(1,11,2):#(start,maximum,increment)
  print(f"{n}*{i} = {n*i}")

enter the number 7
7*1 = 7
7*3 = 21
7*5 = 35
7*7 = 49
7*9 = 63

In [ ]:
#sum of n ntural numbers
n=int(input("enter the number "))
sum=0
#for i in range(n,0,-1) backwards
for i in range(1,n+1):
  sum+=i
print("sum is ",sum)

enter the number 3
sum is  6

In [ ]:
#factorial of a number
n=int(input("enter the number"))
fact = 1
for i in range(1,n+1):
  fact*=i
print(f"the factorial of the number is ",fact)#print(f =for displaying another variable)

enter the number5
the factorial of the number is  120

In [ ]:
#prime number
n = int(input("enter the number "))
for i in range(2,n):
  if n%i == 0:
    print("not a prime number")
    break
else:
  print("prime number")

enter the number 11
prime number

In [ ]:
#check whether a number is palindrome or not
n=input("enter a string ")
r_n = n[::-1]
if r_n==n:
  print("the number is a palindrome")
else:
  print("the number is not a palindrome")

enter a stringmalayalam
the number is a palindrome

In [ ]:
#pattern
r=int(input("enter the number of rows "))
for i in range(0,r):
  for j in range(0,r-i-1):
    print(" ",end="")
  for j in range(0,i+1):
    print("* ",end="")
  print()

enter the number of rows 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#reverse a number
num=int(input("enter the number"))
rev=0
while num!=0:
  rem=num%10
  rev=rev*10+rem
  num=num//10
print(rev)

enter the number456
654

In [ ]:
#count the number of digits
n=int(input("enter the number"))
c=0
while n>0 :
  c+=1
  n//=10
print("the number is ",c)

enter the number456
the number is  3

In [ ]:
#fibonacci
n=int(input("enter the number"))
a=0
b=1
count=0
while count < n:
  if count <=1:
    m=count
  else:
    m=a+b
    a=b
    b=m
  print(m, end=" ")
  count +=1

enter the number5
0 1 1 2 3

In [ ]:
#sum of digits
n=int(input("enter the number "))
sum=0
while n>0:
  rem=n%10
  sum+=rem
  n//=10
print("the sum of the digits is ",sum)

enter the number34
the sum of the digits is  7

In [ ]:

a = input("enter a string ")
print(f"the length of the string is ",len(a))
vowels="aeiouAEIOU"
v,c=0,0
for ch in a:
  if ch.isalpha():
    if ch in vowels:
      v+=1
    else:
      c+=1
print(f"vowels are {v} and consonants are {c}")

enter a string hgfjsde
the length of the string is  7
vowels are 1 and consonants are 6

In [ ]:
#merge two lists
list1 = [1,2,3]
list2 = [4,5,6,3]
print("Merged list",list1+list2)
print("LIST",set(list1+list2))#set function will not display the duplicate values

Merged list [1, 2, 3, 4, 5, 6, 3]
LIST {1, 2, 3, 4, 5, 6}

In [ ]:
#finding the maximum and minimum
list=[1,2,3,4,5,6,7,8,9,10]
print("Max",max(list))
print("Min",min(list))

Max 10
Min 1

In [ ]:
#sum of list
list=[2,4,5,6]
print("Sum",sum(list))

Sum 17

In [ ]:
#index
list=["a,b,c,d,e,f,g,h"]
element=input("enter the element to be selected ")
if element in list:
  print("index",list.index(element))
else:
  print("Not found")

enter the element to be selected i
Not found

In [ ]:
#sorting the list
list=[2,4,6,9,5,8]
list.sort()
print("Sorted lis is ",list)

Sorted lis is  [2, 4, 5, 6, 8, 9]

In [ ]:
#check whether the string is anagram or not
string1=input("enter a string ")
string2=input("enter a string ")
if sorted(string1)==sorted(string2):
  print("Anagram")
else:
  print("Not Anagram")

enter a string adc
enter a string cda
Anagram

In [ ]:
#find the second largest number from the list
list=[1,6,5,8,9]
list.sort()
print("Second largest number is ",list[-2])

Second largest number is  8

In [ ]:
#remove a specific element from a list
list=[1,3,4,5,6]
list.remove(5)
print(list)

[1, 3, 4, 6]

In [24]:
t=(1,2,3,4)
print(t[1],t[2])
a,b,c,d=t
print(a,b,c,d)

2 3
1 2 3 4

In [25]:
#convert list into set
list=[1,2,3,4]
print(set(list))

{1, 2, 3, 4}

In [33]:
#union and intersection
list1=(1,2,3,4,)
list2=(6,4,5,2,3)
#convert into set
list1=set(list1)
list2=set(list2)
#subset
print("Subset",list1.issubset(list2))
#superset
print("Superset",list1.issuperset(list2))
union=list1 | list2
print("Union",union)
print("intersection",list1 & list2)

Subset False
Superset False
Union {1, 2, 3, 4, 5, 6}
intersection {2, 3, 4}

In [40]:
#creating a dictonary
dic={"a":1,"b":2}
for key,values in dic.items():
  print(key,values)

a 1
b 2

In [43]:
#counting character frequency in string
string=input("Enter a string ")
freq={}
for ch in string:
  freq[ch]=freq.get(ch,0)+1
print(freq)

Enter a string naveen
{'n': 2, 'a': 1, 'v': 1, 'e': 2}